/*
Form classes
*/

.LRI-form-page {
    --main-color: blueviolet;
    --error-color: #FF4040;
    --success-color: #00C781;
    --input-background-1:#ACACAC;
    --input-background-2: #EEE;
    --text-color: #333;
}

.LRI-form-page-small {
    margin: 0% 3%;
    margin-bottom: 10px;
}

.LRI-form-page-medium {
    margin: 0% 5%;
    margin-bottom: 100px;
}

.LRI-form {
    display: grid;
    grid-template-columns: 100%;
}

.LRI-form-small {
    margin-top: 10px;
    grid-gap: 20px;
}

.LRI-form-medium {
    margin-top: 50px;
    grid-gap: 40px;
}

.LRI-form-header-small {
    margin-top: 10px;
    font-size: 100%;
}

.LRI-form-header-medium {
    margin-top: 35px;
    font-size: 250%;
}

.LRI-form-row {
    width: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: auto;
}


/* The Field */
.LRI-form-field {
    display: grid;
    grid-template-areas: 
        "header header"
        "input emoji"
        "error error";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.LRI-form-field-header {
    grid-area: header;
    font-size: 120%;
}

.LRI-form-field-header-small {
    font-size: 100%;
}

.LRI-form-field-header-medium {
    font-size: 120%;
}

.LRI-form-field-content {
    position: relative;
    grid-area: input;
}

.LRI-form-field-emoji {
    grid-area: emoji;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 150%;
}

.LRI-form-field-error {
    grid-area: error;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--error-color);
}

/* Text Input */
.LRI-input {
    border: none;
    border-bottom: 1px solid var(--input-background-1);;
    color: var(--text-color);
    font-size: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.LRI-input-small {
    width: 100px;
    padding: 0px 5px;
    height: 30px;
}

.LRI-input-medium {
    height: 40px;
    padding: 0px 10px;
}

.LRI-input:hover:enabled {
    background-color: var(--input-background-2);
}

.LRI-input:focus {
    background-color: var(--input-background-2);
    border-bottom: 2px solid var(--main-color);
}

.LRI-input:hover:disabled {
    cursor: not-allowed;
}
/* Select Input */
.LRI-select-list {
    color: var(--text-color);
    background-color: var(--input-background-2);
    overflow: scroll;
    max-height: 300px;
    position: absolute;
    z-index: 3;
}

.LRI-select-list:hover {
    cursor: pointer;
}

.LRI-select-option-small {
    font-size: 100%;
    line-height: 150%;
    margin: 0px 10px;
}

.LRI-select-option-medium {
    font-size: 125%;
    line-height: 150%;
    margin: 0px 10px;
}

/* Common Radio and Checkbox ('checkable') classes */
.LRI-checkable-section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 50px;
}

.LRI-checkable-option input[type="radio"]{
    display: none;
}

.LRI-checkable-option input[type="checkbox"]{
    display: none;
}

.LRI-checkable-option label {
    position: relative;
}

.LRI-checkable-option span::before,
.LRI-checkable-option span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.LRI-checkable-option span.LRI-radio:hover {
    cursor: pointer;
}

/* Radio Input */

.LRI-checkable-option span.LRI-radio::before {
    left: -52px;
    width: 24px;
    height: 24px;
    background-color: var(--input-background-2);
    border-radius: 50px;
    transition: background-color .25s;
}

.LRI-checkable-option span.LRI-radio::after {
    left: -48px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--input-background-1);
    transition: background-color .25s;
}

input[type="radio"]:checked + label span.LRI-radio::before {
    background-color: var(--main-color);
}

input[type="radio"]:checked + label span.LRI-radio::after {
    background-color: var(--input-background-2);
}

input[type="radio"]:disabled + label span.LRI-radio::before {
    cursor: not-allowed;
}

input[type="radio"]:disabled + label span.LRI-radio::after {
    cursor: not-allowed;
}
/* Checkbox Input */


.LRI-checkable-option span.LRI-checkbox::before {
    left: -52px;
    width: 24px;
    height: 24px;
    background-color: var(--input-background-1);
    border-radius: 5px;
    transition: background-color .25s;
}

.LRI-checkable-option span.LRI-checkbox::after {
    left: -49px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: var(--input-background-2);
    transition: background-color .25s;
}

input[type="checkbox"]:checked + label span.LRI-checkbox::before {
    background-color: var(--main-color);
}

input[type="checkbox"]:checked + label span.LRI-checkbox::after {
    color: var(--main-color);
    font-weight: bold;
    content: ' ✓';
    text-align: center;
}

input[type="checkbox"]:disabled + label span.LRI-checkbox::before {
    cursor: not-allowed;
}

input[type="checkbox"]:disabled + label span.LRI-checkbox::after {
    cursor: not-allowed;
}

/* Button */
.LRI-button {
    background-color: white;
    border: none;
    color: var(--main-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    max-height: 40px;
}

.LRI-button-small {
    padding: 5px 12px;
    font-size: 12px;
    margin: 4px 2px;
}

.LRI-button-medium {
    padding: 10px 25px;
    font-size: 16px;
    margin: 4px 2px;
}

.LRI-button:hover:enabled {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.LRI-button:disabled,
.LRI-button[disabled]{
    color: var(--input-background-1);
    border: 2px solid var(--input-background-1);
}

.LRI-button:hover:disabled {
    cursor: not-allowed;
}


/* Datepicker */
.LRI-datepicker-button {
    background-color: white;
    border: none;
    color: var(--main-color);
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 1px solid var(--main-color);
}

.LRI-datepicker-button:hover:enabled {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.LRI-datepicker-button:disabled {
    color: var(--input-background-1);
    border: 2px solid var(--input-background-1);
}

.LRI-datepicker-button:hover:disabled {
    cursor: not-allowed;
}

/* Errors */

.LRI-error-section {
    color: var(--error-color);
}