.page-box {
    display: grid;
    grid-template-columns: 75% 25%;
}

.form-box {
    height: 100vh;
    overflow: scroll;
}

.sidebar {
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

.sidebar-line {
    margin-top: 20px;
    margin-left: 20px;
}